.breadcrumb {
    display: flex;
    color: #666;
    text-transform: uppercase;
    gap: 5px;
    margin-bottom: 80px;

    a{
        display: inline-block;
    }

    li+li{
        &::before{
            color: #666;
            content: "/\00a0";
        }

        &:last-child{
            font-weight: 700;
        }
    }

    @media (max-width: $tabletM) {
        margin-bottom: 60px;
    }
}