.delivery {
    text-transform: uppercase;

    &__breadcrumb{
        ul{
            margin-bottom: 77px;
        }
    }
    
    &__title{
        line-height: 1.14;
        margin: 0 auto;
        margin-bottom: 45px;
        max-width: 345px;
    }

    &__wrap {
        display: flex;
        margin-bottom: 140px;
    }

    &__box {
        display: flex;
        flex: 1 1 auto;
        justify-content: space-between;
        max-width: 923px;
    }

    &__icons {
        flex: 0 1 635px;
        margin: 0 auto;
    }

    &__img {
        display: block;
        margin: 0 auto;
    }

    &__img:not(:last-child) {
        margin-bottom: 40px;
    }

    @media (max-width: $tablet) {
        &__wrap {
            flex-direction: column;
            margin-bottom: 80px;
        }

        &__box {
            flex-direction: column;
            margin-bottom: 40px;
        }

        &__icons {
            flex-basis: 0;
        }

        &__img:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media (max-width: $mobile) {

        &__breadcrumb{
            ul{
                margin-bottom: 60px;
            }
        }

        &__img{
            height: 35px;
        }

        &__title{
            max-width: none;
        }
    }
}

.box-delivery {

    max-width: 400px;

    &__title {
        color: $mainRed;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    &__inner:not(:last-child) {
        margin-bottom: 20px;
    }

    &__subtitle {
        font-weight: 700;
        margin-bottom: 10px;
    }

    &__list,
    &__list li {
        list-style: inherit;
    }

    &__list {
        margin-left: 20px;
    }

    &__list li {
        list-style-image: url(../img/rectangle.png);
        list-style-position: outside;
        padding-left: 15px;
        margin-bottom: 10px;
    }

    @media (max-width: $mobile) {

        &:nth-child(1){
            margin-bottom: 35px;
        }

        &__subtitle{
            margin-bottom: 14px;
        }
    }   
}