// Секция main
.main {
  position: relative;
  overflow: hidden;
  margin-top: 58px;

  &__container {
    text-align: center;
  }

  &__blend-left {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
  }

  &__blend-right {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
  }

  &__wrap {
    text-align: end;
    max-width: 965px;
    margin-bottom: 132px;
  }

  &__logo {
    margin-bottom: 10px;
  }

  &__title {
    font-family: "Wadik";
    font-weight: 700;
    @include adaptive("font-size", 53, 21, 1);
    margin-bottom: 20px;
    line-height: 67px;

    span {
      display: none;
    }
  }

  &__inner {
    max-width: 485px;
    margin-left: auto;
  }

  &__text {
    text-transform: uppercase;
    max-width: 490px;
    margin-left: auto;
    margin-bottom: 40px;
  }

  &__buttons {
    display: inline-flex;
    flex-direction: column;
    gap: 55px;
    width: 98%;
  }

  &__btn {
    border: 1px solid $mainRed;
    transition: .2s ease;
    display: inline-block;
    text-align: center;

    &:hover {
      background-color: $mainWhite;
      color: $mainRed;
      border: 1px solid $mainRed;
    }
  }

  &__link {
    display: inline-block;
    padding: 39px 78px;
    border: 1px solid;
    border-radius: 50%;
    margin: 0 auto;
    transition: .2s ease;
    cursor: pointer;

    &:hover {
      background-color: $mainRed;
      border: 1px solid $mainRed;

      svg {
        fill: $mainWhite;
      }
    }

  }

  @media (max-width: $tablet) {
    &__blend-left {
      width: 52%;
    }

    &__wrap {
      text-align: left;
    }

    &__link {
      padding: 25px 53px;
    }

    &__logo {
      margin-bottom: 14px;
    }

    &__title {
      line-height: 29px;
      margin-bottom: 20px;
    }

    &__text {
      margin-left: 0;
    }

    &__text {
      margin-bottom: 40px;
    }

    &__btn {
      padding: 13px 140px;
    }
  }

  @media (max-width: $mobile) {
      margin-top: 60px;
    
    &__blend-left {
      top: 510px;
    }

    &__title{
      line-height: 27px;
      margin-bottom: 23px;
    }

    &__wrap {
      margin-bottom: 240px;

      svg{
          height: 55px;
      }
    }

    &__blend-right {
      top: 565px;
    }

    &__btn {
      padding: 10px 0;
      justify-content: center;
    }

    &__buttons {
      display: flex;
      gap: 55px;
      width: 100%;
    }
    
    &__link{
      padding: 35px 55px;
    }
  }
}

//Секция "Часто покупают"
.popular-goods {
  margin-bottom: 126px;

  &__title {
    margin-bottom: 30px;
  }

  &__catalog {
    display: grid;
    gap: 20px;
    grid-template-columns: minmax(270px, 472px) minmax(270px, 472px) minmax(270px, 636px);
  }

  @media (max-width: $tablet) {
    margin-bottom: 65px;

    &__title {
      margin-bottom: 40px;
    }

    &__catalog {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: $mobile) {
    &__catalog {
      grid-template-columns: 1fr;
    }

     &__title {
      margin-bottom: 36px;
    }
  }
}

// Секция "Соторудничество"
.partner {
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 223px;
  padding: 0 10px;

  &__wrap {
    display: flex;
    row-gap: 25px;
    column-gap: 5px;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media (max-width:$tablet) {
    margin-bottom: 80px;
  }
}