<div class="modal-call modal">
    <div class="modal-call__wrap modal__wrap">
        <button class="modal-call__close modal__close">
            <svg class="svg-close">
                <use xlink:href="img/icons/svg-sprite.svg#svg-close"></use>
            </svg>
        </button>
        <div class="modal-call__content modal__content">
            <h3 class="modal-call__title modal__title">Заказать обратный звонок</h3>
            <p class="modal-call__text modal__text">
                Оставьте свои контакты и наш менеджер свяжется с Вами в ближайшее время.
            </p>
        </div>
        <div class="modal-call__form">
            <input class="modal-call__input" type="text" placeholder="Введите имя">
            <input class="modal-call__input" type="text" placeholder="Номер">
            <button class="modal-call__btn modal__btn">Отправить</button>
        </div>
        <p class="modal-call__copyright">Нажимая на кнопку «Отправить»,
            Вы даете согласие на обработку персональных данных в соответствии
            с <a href="#">Политикой конфиденциальности</a>
        </p>
    </div>
</div>
<div class="modal-success modal">
    <div class="modal-success_wrap modal__wrap">
        <button class="modal-success_close modal__close">
            <svg class="svg-close">
                <use xlink:href="img/icons/svg-sprite.svg#svg-close"></use>
            </svg>
        </button>
        <div class="modal-success__content modal__content">
            <h3 class="modal-success__title modal__title">Ваша заявка отправлена!</h3>
            <p class="modal-success__text modal__text">
                Менеджер свяжется с Вами в ближайшее время.
            </p>
            <button class="modal-success__btn modal__btn">За покупками</button>
        </div>
    </div>
</div>
<div class="modal-login modal">
    <div class="modal-login__wrap modal__wrap">
        <button class="modal-login__close modal__close">
            <svg class="svg-close">
                <use xlink:href="img/icons/svg-sprite.svg#svg-close"></use>
            </svg>
        </button>
        <div class="modal-login__body card-account">
            <h2 class="card-account__title title">Вход</h2>
            <div class="card-account__login">
                <form class="form-account">
                    <label class="form-account__label">Имя пользователя</label>
                    <label class="form-account__label">или Номер телефона</label>
                    <input class="form-account__input" type="text">
                    <label class="form-account__label">Пароль</label>
                    <input class="form-account__input" type="password">
                    <div class="form-account__inner">
                        <button class="form-account__btn modal__btn">Войти</button>
                        <label>
                            <input class="form-account__check checkbox-custom" type="checkbox">
                            <span>Запомнить меня</span>
                        </label>
                    </div>
                    <a class="form-account__link" href="registration.html">или <span>зарегистрируйтесь</span></a>
                    <a class="form-account__link" href="#">
                        <p>Забыли свой пароль?</p>
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>