.footer {
    &__logotype {
        text-align: center;
        margin-bottom: 25px;
    }

    &__logo {
        @include adaptive("width", 338, 163, 1);
    }

    @media (max-width: $tabletM) {
        &__logotype {
            margin: 25px auto;
            width: 163px;
        }
    }
}

.body-footer {
    display: flex;
    justify-content: space-between;

    &__list {
        flex-direction: column;
        row-gap: 22px;

        a {
            padding: 0;
        }

        a:hover {
            text-decoration: underline;
            background-color: inherit;
            color: #1e1e1e;
        }
    }

    &__social {
        display: flex;
        align-items: center;
        gap: 20px;
        position: relative;
        margin-right: 25px;

        &::before {
            content: "";
            display: block;
            width: 164px;
            height: 2px;
            border-bottom: 1px solid #000;
            flex-shrink: 2;
            position: absolute;
            top: 89px;
            left: -188px;
        }

        &::after {
            content: "";
            display: block;
            width: 164px;
            height: 2px;
            border-bottom: 1px solid #000;
            flex-shrink: 2;
            position: absolute;
            top: 89px;
            right: -188px;
        }
    }

    &__contacts {
        text-transform: uppercase;
    }

    @media (max-width: $tablet) {
        flex-wrap: wrap;
        row-gap: 15px;

        &__social {
            order: 3;
            overflow: auto;
            margin: 0 auto;

            &::before {
                position: static;
            }

            &::after{
                position: static;
            }

        }
    }
}

.social-footer {
    &__wrap {
        margin: 0 auto;
        position: relative;
        display: flex;
        gap: 28px;
        align-items: center;
        top: -50px;
    }

       @media (max-width: $tablet) {
        &__wrap{
            top: 0;
        }

    }
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 22px;
    max-width: 152px;
    margin-right: 12px;

    &__title {
        font-weight: 700;
    }

    &__callback {
        align-items: baseline;
    }
}

.copyright {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 20px;
    row-gap: 20px;
    font-size: 14px;
    margin: 0 160px 30px 160px;

    &__copy {
        p {
            color: #666;
            margin-bottom: 10px;
        }

        a {
            text-decoration: underline;
        }
    }

    &__design {
        a {
            color: $mainRed;
            text-decoration: underline;
            text-transform: uppercase;
            margin-top: 10px;
        }
    }
    @media (max-width: $tablet) {
        margin: 0 0 30px 0;
        column-gap: 80px;
    }

    @media (max-width: $mobile) {
        &__copy {
            order: 2;
        }
    }
}