<footer class="footer">
    <div class="footer__container container">
        <div class="footer__logotype">
            <svg class="svg-logo">
                <use xlink:href="img/icons/svg-sprite.svg#svg-logo"></use>
            </svg>
        </div>
        <div class="footer__body body-footer">
            <nav class="body-footer menu">
                <ul class="body-footer__list menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="catalog.html" data-link="catalog">Каталог</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#" data-link="services">Услуги</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#" data-link="stock">Сотрудничество</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#" data-link="delivery">Акции</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#" data-link="cooperation">О нас</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#" data-link="about">Доставка / оплата</a>
                    </li>
                </ul>
            </nav>
            <div class="body-footer__social social-footer">
                <div class="social-footer__wrap">
                    <a class="social-footer__link" href="https://vk.com/id28523381">
                        <svg class="svg-vk">
                            <use xlink:href="img/icons/svg-sprite.svg#svg-vk"></use>
                        </svg>
                    </a>
                    <a class="social-footer__link" href="https://wa.me/+79871560763">
                        <svg class="svg-wa">
                            <use xlink:href="img/icons/svg-sprite.svg#svg-wa"></use>
                        </svg>
                    </a>
                    <a class="social-footer__link" href="https://t.me/inferno_steel">
                        <svg class="svg-tg">
                            <use xlink:href="img/icons/svg-sprite.svg#svg-tg"></use>
                        </svg>
                    </a>
                </div>

            </div>
            <div class="body-footer__contacts footer-contacts">
                <h6 class="footer-contacts__title">Контакты</h6>
                <div class="footer-contacts__callback callback">
                    <a class="callback__phone" href="tel:+79272607630">+7(927)260-76-30</a>
                    <a class="callback__link" href="#">Заказать звонок</a>
                </div>
                <a class="foooter-contacts__email" href="mailto:inferno-steel@mail.ru">inferno-steel@mail.ru</a>
                <p class="footer-contacts__adress">г. Самара, ул. Александра Матросова 153, к. 1</p>
            </div>
        </div>
        <div class="footer__copyright copyright">
            <div class="copyright__copy">
                <p class="copyright__content">Ⓒ 2025 Все права защищены</p>
                <a class="copyright__document" href="#">Политика конфиденциальности</a>
            </div>
            <div class="copyright__design">
                <p class="copyright__text">Дизайн сайта</p>
                <a class="copyright__link" href="https://t.me/pnyashka">@pnyashka</a>
            </div>
        </div>
    </div>
</footer>