<div class="promotion__slider slider">
    <div class="slider__wrap">
        <img class="slider__img" src="img/banner_one.jpg" alt="banner_one">
        <img class="slider__img" src="img/banner_two.jpg" alt="banner_two">
        <img class="slider__img" src="img/banner_three.jpg" alt="banner_three">
    </div>
   <button class="slider__btn slider__btn_left">
    <svg class="svg-arrow-slider-left">
        <use xlink:href="img/icons/svg-sprite.svg#svg-arrow-slider-left"></use>
    </svg>
   </button>
   <button class="slider__btn slider__btn_right">
    <svg class="svg-arrow-slider-left svg-arrow-slider-left_rotate">
        <use xlink:href="img/icons/svg-sprite.svg#svg-arrow-slider-left"></use>
    </svg>
   </button>
</div>