// Подключение шрифтов
@font-face {
    font-family: "Cygre";
    src: url(../fonts/Cygre-Regular.woff2) format(woff2);
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Cygre";
    src: url(../fonts/Cygre-Bold.woff2) format(woff2);
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Wadik";
    src: url(../fonts/Wadik.woff2) format(woff2);
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }