// Основные цвета
$mainRed: #A33419;
$mainWhite: #ffffff;
$mainDark: #1e1e1e;
$gradient: linear-gradient(139deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 160%);
$gradientSecond: linear-gradient(179deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 160%);

// Основные размеры
$maxWidth: 3000;
$maxWidthContainer: 1660;
$tablet: 945px;
$tabletM: 700px;
$mobile: 500px;